body{
    background:url("imani-pics/stars.jpg");
    background-size:cover;
  
}
.heading{
    text-align:center;
    text-align:top;
    color:white;
}
.inputs{
    padding: 5px 5px 5px 5px;
    text-align:center;
}
input[type="submit"]{
            background:blueviolet;
            color:green;
}
.login{
    text-align:center;
    padding:20px 0px 0px 0px;
}
.navigator{
    text-align:bottom;
    
}
.video{
    max-width:300px
}
.secondvideo{
    max-width:300px;
}
.thirdvideo{
    max-width:300px;
}
.videos{
    padding:100px 0px 0px 0px;
}